# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*~
\#*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment
.env
venv/
.venv/
env/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.lof
*.lot
*.gz
*.bcf
*.run.xml
*.pdf
*.mp4

# OS files
*.DS_Store
Thumbs.db
